<template>
	<div class="content">

		<!-- Form -->
		<div class="row">
			<div class="col-md-12">
				<div
					class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
					<div class="col p-4 d-flex flex-column position-static">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<img class="rounded mr-2" src="../assets/male-icon-60px.png">
							</div>
							<input type="text" class="rounded-input form-control mt-2" placeholder="Quiero..." readonly>
						</div>
						<ul class="nav row">
							<li class="nav-item ml-4 col-md-2">
								<a class="nav-link txt-green" data-toggle="modal" data-target="#PostModal" style="cursor: pointer;">
									<i class="fas fa-edit mr-1"></i>Publicar
								</a>
							</li>
							<li class="nav-item col-md-2">
								<a class="nav-link txt-brown" href="/" disabled>
									<i class="fas fa-medal  mr-1"></i>Felicitar
								</a>
							</li>
							<li class="nav-item col-md-2">
								<a class="nav-link txt-red" href="/" disabled>
									<i class="fas fa-calendar-alt  mr-1"></i>Evento
								</a>
							</li>
							<li class="nav-item col-md-2">
								<a class="nav-link txt-blue" href="/" disabled>
									<i class="fas fa-store-alt  mr-1"></i>Vender
								</a>
							</li>
							<li class="nav-item col-md-2">
								<a class="nav-link txt-orange" href="/" disabled>
									<i class="fas fa-headset  mr-1"></i>Asistencia
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Post -->
		<div class="row" v-for="post in posts">
			<div class="col-md-12">
				<div
					class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
					<div class="col p-4 d-flex flex-column position-static">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<img class="rounded mr-2" src="../assets/male-icon-60px.png">
							</div>
							<h6 class="mt-1 txt-gray">
								<span class="txt-purple mb-3">{{post.author.name}}</span> <br>
								{{post.hour}} <i class="fas fa-edit ml-1"></i>Publicación
							</h6>
						</div>

						<p>{{post.comment}}</p>

						<ul class="nav row">
							<li class="nav-item ml-4 col-md-2">
								<a class="nav-link txt-gray" href="#">
									<i class="fas fa-thumbs-up mr-1"></i>0
								</a>
							</li>
							<li class="nav-item col-md-2">
								<a class="nav-link txt-gray" href="#">
									<i class="fas fa-hands-wash  mr-1"></i>0
								</a>
							</li>
							<li class="nav-item col-md-2">
								<a class="nav-link txt-gray" href="#">
									<i class="fas fa-heart  mr-1"></i>0
								</a>
							</li>
							<li class="nav-item col-md-2">
								<a class="nav-link txt-gray" href="#">
									<i class="fas fa-lightbulb  mr-1"></i>1
								</a>
							</li>
							<li class="nav-item col-md-2">
								<a class="nav-link txt-gray" href="#">
									<i class="fas fa-thumbs-down  mr-1"></i>0
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="PostModal" tabindex="-1" role="dialog" aria-labelledby="PostModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" style="width: 44em">
					<form v-on:submit.prevent="addPost">
						<div class="modal-header bg-purple">
							<h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-edit ml-1"></i> Publicar</h5>
							<a type="button" class="" data-dismiss="modal" aria-label="Close">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<div class="modal-body">
							<label class="mb-2" for=""><b>Tipo de publicacion</b></label>
							<div class="btn-group" role="group" aria-label="Basic example">
								<button type="button" class="btn btn-white active"><i class="fas fa-edit"></i>Publicación</button>
								<button type="button" class="btn btn-white"><i class="fas fa-bullhorn"></i>Anuncio oficial</button>
								<button type="button" class="btn btn-white"><i class="fas fa-hand-holding-heart"></i></i>Ofrecer ayuda</button>
								<button type="button" class="btn btn-white"><i class="fas fa-search"></i>Objeto perdido</button>
								<button type="button" class="btn btn-white"><i class="fas fa-list-alt"></i>Encuesta</button>
							</div>
							<label class="mt-3 mb-2" for=""><b>Mensaje</b></label>
							<textarea class="form-control border rounded" v-model="newPost.comment" required placeholder="Escriba aqui..." style="resize: none;"></textarea>
						</div>
						<div class="modal-footer">
							<button class="btn btn-success" type="submit"> Publicar </button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</template>

<script>
	export default {
		name: 'posts',
		data() {
			// Falta automatizacion de los registros, para que estos provengan directo de una base de datos que debiese de estar conectada al backend
			// Por temas de tiempo no alcanzo a realizar el API.
			return {
				time: '',
				posts: [],
				newPost: {author:{}},
			}
		},
		methods: {
			addPost() {
				const current = new Date();
				this.newPost.hour = current.getHours() + ":" + current.getMinutes();

				this.newPost.author.name = "Usuario Anónimo";
				this.posts.push(this.newPost);
				
				this.newPost = {author:{}};
			},
		},
		created() {
			this.$http.get('http://localhost:8765/posts').then(response => {
				// get body data
				this.posts = response.data

			}, response => {
				// error callback
			});

		},
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	.bg-gray {
		background-color: gray;
	}

	.bg-purple {
		background-color: purple;
		color: white;
	}

	.bg-white {
		background-color: white;
	}

	.rounded-input {
		border-radius: 1em !important;
	}

	.txt-green {
		color: green;
	}

	.txt-orange {
		color: orange;
	}

	.txt-red {
		color: red;
	}

	.txt-blue {
		color: blue;
	}

	.txt-brown {
		color: brown;
	}

	.txt-black {
		color: black;
	}

	.txt-purple {
		color: purple;
	}

	.txt-gray {
		color: gray;
	}

	.btn-purple {
		background-color: purple;
		color: white
	}

	.btn-white {
		background-color: white;
		border-color: gray;
	}

	.btn-white.active{
		background-color: purple;
		color: white
	}

</style>