<template>
    <div>
        <div class="container">
            <header class="blog-header py-3">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-4 pt-1">
                        <a class="text-muted" href="/">
                            <img src="./assets/coliver-logo.jpg" class="rounded-circle" alt="coliver-logo" style="height: 32px; width: 32px;">
                        </a>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        <a class="btn btn-sm btn-outline-secondary" href="#" disabled>Logout</a>
                    </div>
                </div>
            </header>
    
            <router-view/>
    
        </div>

        <footer class="blog-footer">
            <p>
              Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a>
            </p>
        </footer>
    </div>
</template>

<script>
    export default {
        name: 'App'
    }
</script>

<style>
    /*
    * Footer
    */
    .blog-footer {
        padding: 2.5rem 0;
        color: #999;
        text-align: center;
        background-color: #f9f9f9;
        border-top: .05rem solid #e5e5e5;
    }
    .blog-footer p:last-child {
        margin-bottom: 0;
    }

</style>
